=image_tag('shadey.png')
%br
=image_tag('title.png')

%p#status
  Waiting for user input

%a#mark{:href => "#"}
  .mark

%a{:href => "./spots"}
  .find

%a{:href => "./users/shadyclient1/spots"}
  .recents

